<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <!-- Sidebar -->
   <div id="sidebarContainer"></div>



<div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-bars"></i>
    </button>
    


<div class="container mt-4">
   <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search by Title">
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
    <h2><strong>Jobs</strong></h2>
    </div>
    <div class="row mt-4">

        <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/frontend.jpg"class="card-img-top img-fluid" alt="Job Image 1">
                <div class="content">
                       <h5 class="title">Frontend Developer</h5>
                     <p class="description"> Craft engaging user interfaces and bring designs to life by leveraging your expertise in HTML, CSS, and JavaScript to create seamless and visually appealing websites.</p>
                </div>
            </div>
        </div>

      <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/backend.jpg" class="card-img-top img-fluid" alt="Job Image 2">
                <div class="content">
                    <h5 class="title">Backend Developer</h5>
                    <p class="description">Architect robust server-side solutions, manage databases, and ensure the smooth functionality of web applications, utilizing languages like Python, Ruby, or Java to handle the server logic behind the scenes</p>
                </div>
            </div>
        </div>

       <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/ux.png" class="card-img-top img-fluid" alt="Job Image 3">
                <div class="content">
                    <h5 class="title">UI/Ux Developer</h5>
                    <p class="description">Shape user experiences and interfaces through intuitive design, combining creativity with user-centric thinking to produce visually striking and user-friendly digital products.</p>
                </div>
            </div>
        </div>

       <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/testing.png" class="card-img-top img-fluid" alt="Job Image 4">
                <div class="content">
                    <h5 class="title">Software Tester</h5>
                    <p class="description"> Ensure the quality and reliability of software applications by designing and executing comprehensive testing strategies, identifying and resolving bugs to deliver a polished and error-free end product.</p>
                </div>
            </div>
        </div>

       <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/project.png" class="card-img-top img-fluid" alt="Job Image 5">
                <div class="content">
                    <h5 class="title">Project Manager</h5>
                    <p class="description">Lead and coordinate projects from inception to completion, overseeing timelines, budgets, and resources to ensure successful delivery of software solutions while maintaining effective communication with stakeholders.</p>
                </div>
            </div>
        </div>

       <div class="col-md-4 mb-4">
            <div class="Jobs-item">
                <img src="jobs_images/network.png" class="card-img-top img-fluid" alt="Job Image 6">
                <div class="content">
                    <h5 class="title">Network Engineer</h5>
                    <p class="description">Design and maintain complex network infrastructures, ensuring seamless connectivity and optimal performance, while addressing security concerns and troubleshooting network issues.</p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

</div>
<style>
.Jobs-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: box-shadow 0.3s;
    max-width: 300px; 
    margin: 0 auto;
}

.Jobs-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.Jobs-item img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.title {
    font-size: 1.1em;
    margin-bottom: 8px;
}

.description {
    color: #666;
    font-size: 0.9em;
    height: 150px;
}

</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>


  <script>
        $(document).ready(function () {

            fetch('sidebar.html')
                .then(response => response.text())
                .then(data => $('#sidebarContainer').html(data));

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
 

</body>
</html>
